<!DOCTYPE html>
<html>

<head>
  <title>Chat Social Scores</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- Dark mode CSS -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
    integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/5a69a86b05.js" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="module" src="user_leader_board.js"></script>
  <script>
    window.socialScoresData = <%- JSON.stringify(social_scores) %>;
    console.log('EJS template social_scores:', window.socialScoresData);
  </script>
  <style>
    #leaderboard-container {
      width: 600px;
      background-color: #353e47;
      padding: 10px;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  </style>

<body>
  <div class="container bootstrap-dark">
    <img src="<%= banner_image %>" class="img-fluid">
    <h1 class="text-center">Social Score Leader Board</h1>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div id="leaderboard-container">
          <h5></h5>
          <div id="leaderboard"></div>
        </div> <!-- End leaderboard --> 
      </div>
      <div class="col-md-3"></div>
    </div>
    
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Support Abbabox</h5>
        <p>Help the streamer keep doing the things. Support him anyway you can.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/abbabox1">Twitter</a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/Abbabox">YouTube</a>
          </li>
          <li>
            <a href="https://discord.com/invite/vgB85mF">Discord</a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@abbabox?lang=en">TikTok</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Pay the Man</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://streamlabs.com/abbabox/tip">Paypal</a>
          </li>
          <li>
            <a href="https://www.streamloots.com/abbabox">StreamLoots</a>
          </li>
          <li>
            <a href="https://jointhrone.com/u/abbabox">Throne</a>
          </li>
          <li>
            <a href="https://streamlabs.com/abbabox/merch">Merch</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Designed by the
    Citizens of the ABXCrew
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
</body>

</html>